$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-image: url('https://i.imgur.com/bJSSyF1.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  background-color: #000;
}

#message {
  color: #fff;
}

#workout-message {
  color: #fff;
}

#app-name {
  text-align: center;
}

#app-name, #sign-up h4, #sign-in h4,
#change-password h4, #sign-out h4 {
    color: #000;
}

#sign-up, #sign-in,
#change-password, #sign-out, #create-workout, #get-workouts, #delete-workout, #update-workout, #get-all-workouts-container {
  display: none;
}
#sign-up, #sign-in, #change-password, #sign-out {
    padding: 5px;
}
#sign-up, #change-password {
    padding-right: 20px;
}

#workout-listing {
  list-style: none;
  text-decoration: none;
}

#get-all-workouts-container {
  width: 50%;
  height: 200px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  overflow-y: auto;
  margin-bottom: 5%;
}

#create-workout, #delete-workout, #update-workout {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  width: 300px;
}

#workouts {
  margin-right: 10%;
}

#get-all-workouts-container h4 {
    margin: 5% 0 2% 5%;
}

#get-workouts h4 {
  margin: 5% 0 2% 5%;
  color: #fff;
}

#get-workouts-button {
  margin: 0 0 2% 5%;
}

#workouts fieldset {
  margin: 5%;
}

#workouts input {
  margin-bottom: 2%;
}

#workout-forms {
  margin-bottom: 5%;
}

// #pw-signOut-row {
//   margin-bottom: 5%;
// }

html {
  height: 100%;
  position: relative;
}

footer {
  margin-bottom: 1%;
  color: #fff;
  margin-left: 50%;
  bottom: 0;
  position: absolute;
}

footer a {
  color: #fff;
  text-decoration: underline;
}

footer a:hover {
  color: #e2c800;
}

@media only screen and (max-width: 500px) {
  footer {
    margin-left: 10%;
  }
  #workouts fieldset {
    margin: 5%;
  }
}
